.page-address-detail {
  width: 100%;
  height: 100%;
  padding: 32px;
  padding-bottom: 155px;
  overflow: scroll;
  background: $page-bg;
  &.drug {
    .content {
      width: 686px;
      height: 568px;
      background: $white;
      box-shadow: 0px 5px 22px 0px rgba(231, 231, 231, 0.5);
      border-radius: 12px;
      .item {
        width: 100%;
        height: 92px;
        border-top: 1px solid rgba(204, 204, 204, 0.5);
        justify-content: space-between;
        align-items: center;
        padding: 0 32px;
        &:nth-child(1) {
          border: none;
        }
        &.detail-address {
          height: 200px;
          padding: 25px 32px;
          align-items: flex-start;
        }
        &.default {
          .left {
            .label {
              width: 200px;
            }
          }
        }
        .left {
          color: $color-333;
          font-size: 29px;
          height: 100%;
          align-items: center;
          &.address-detail {
            align-items: flex-start;
          }
          .label {
            width: 120px;
            margin-right: 52px;
            font-size: 29px;
            color: $color-666;
          }
          .input {
            width: 400px;
            // height: 100%;
            color: $color-333;
            font-size: 29px;
          }
          .address {
            width: 420px;
            .province-name {
              margin-right: 20px;
            }
          }
        }
        .right {
          .textarea {
            width: 458px;
            height: 135px;
            line-height: 42px;
            font-size: 29px;
            border: none;
          }
          textarea:focus {
            outline: none;

            border: 1px solid #ccc;
          }
          .next {
            width: 32px;
            height: 32px;
          }
          .weui-switch {
            width: 82px !important;
            height: 40px !important;
          }
          .weui-switch::before {
            width: 80px !important;
            height: 36px !important;
          }
          /*开启状态*/
          .weui-switch::after {
            width: 38px !important;
            height: 36px !important;
          }
          .wx-switch-input {
            width: 82px !important;
            height: 40px !important;
          }
          .wx-switch-input::before {
            width: 80px !important;
            height: 36px !important;
          }
          /*开启状态*/
          .wx-switch-input::after {
            width: 38px !important;
            height: 36px !important;
          }
        }
      }
    }
    .add {
      width: 440px;
      height: 88px;

      border-radius: 44px;
      align-items: center;
      justify-content: space-around;
      font-size: 32px;
      position: fixed;
      left: 156px;
      bottom: 64px;
      background: linear-gradient(180deg, #e9e5e5 0%, #cccccc 100%);
      box-shadow: 0px 6px 20px 0px rgba(204, 204, 204, 0.2);
      color: $white;
      &.active {
        color: $white;
        background: linear-gradient(142deg, #7bb4f5 0%, #467de8 100%);
        box-shadow: 0px 4px 8px 0px rgba(70, 125, 232, 0.2);
      }
    }
  }
  .content {
    width: 686px;
    height: 568px;
    background: $white;
    box-shadow: 0px 5px 22px 0px rgba(231, 231, 231, 0.5);
    border-radius: 12px;
    .item {
      width: 100%;
      height: 92px;
      border-top: 1px solid rgba(204, 204, 204, 0.5);
      justify-content: space-between;
      align-items: center;
      padding: 0 32px;
      &:nth-child(1) {
        border: none;
      }
      &.detail-address {
        height: 200px;
        padding: 25px 32px;
        align-items: flex-start;
      }
      &.default {
        .left {
          .label {
            width: 200px;
          }
        }
      }
      .left {
        color: $color-333;
        font-size: 29px;
        height: 100%;
        align-items: center;
        &.address-detail {
          align-items: flex-start;
        }
        .label {
          width: 120px;
          margin-right: 52px;
          font-size: 29px;
          color: $color-666;
        }
        .input {
          width: 400px;
          // height: 100%;
          color: $color-333;
          font-size: 29px;
        }
        .address {
          width: 420px;
          .province-name {
            margin-right: 20px;
          }
        }
      }
      .right {
        .textarea {
          width: 458px;
          height: 135px;
          line-height: 42px;
          font-size: 29px;
          border: none;
          resize: none;
          textarea {
            width: 458px;
            height: 135px;
          }
        }
        textarea:focus {
          outline: none;

          border: 1px solid #ccc;
        }
        .next {
          width: 32px;
          height: 32px;
        }
        .weui-switch {
          width: 82px !important;
          height: 40px !important;
        }
        .weui-switch::before {
          width: 80px !important;
          height: 36px !important;
        }
        /*开启状态*/
        .weui-switch::after {
          width: 38px !important;
          height: 36px !important;
        }
        .wx-switch-input {
          width: 82px !important;
          height: 40px !important;
        }
        .wx-switch-input::before {
          width: 80px !important;
          height: 36px !important;
        }
        /*开启状态*/
        .wx-switch-input::after {
          width: 38px !important;
          height: 36px !important;
        }
      }
    }
  }
  .add {
    width: 440px;
    height: 88px;

    border-radius: 44px;
    align-items: center;
    justify-content: space-around;
    font-size: 32px;
    position: fixed;
    left: 156px;
    bottom: 64px;
    background: linear-gradient(180deg, #e9e5e5 0%, #cccccc 100%);
    box-shadow: 0px 6px 20px 0px rgba(204, 204, 204, 0.2);
    color: $white;
    &.active {
      color: $white;
      background: linear-gradient(102deg, #f87a56 0%, #ff5d50 43%, #ff5d50 100%);
      box-shadow: 0px 4px 12px 0px rgba(241, 83, 83, 0.5), inset -8px 10px 14px 0px rgba(255, 255, 255, 0.21);
    }
  }
}
