.page-address-list {
  width: 100%;
  min-height: 100%;
  padding-bottom: 155px;
  overflow: scroll;
  background: $page-bg;
  &.drug {
    .tips {
      width: 100%;
      padding: 16px 32px;

      box-shadow: 0px 4px 8px 0px rgba(68, 96, 225, 0.1);
      background-color: #fff;
      font-size: 24px;
      color: #666666;
      line-height: 36px;
    }

    .empty {
      width: 604px;
      height: auto;
      align-items: center;
      flex-direction: column;
      font-size: 28px;
      color: $color-999;
      margin: 0 auto;
      margin-top: 218px;

      .img {
        width: 604px;
        height: 280px;
        background: url("#{$ossHost}network_empty.png") no-repeat;
        background-size: 100% 100%;
        margin-bottom: 32px;
      }
    }

    .address-item {
      width: 686px;
      height: 231px;
      background: $white;
      box-shadow: 0px 5px 22px 0px rgba(231, 231, 231, 0.5);
      border-radius: 12px;
      margin: 0 auto;
      margin-top: 32px;

      .top {
        width: 100%;
        height: 150px;
        padding: 32px;
        border-bottom: 1px solid rgba(204, 204, 204, 0.5);
        flex-direction: column;
        justify-content: space-between;

        .info {
          align-items: center;
          justify-content: space-between;
          font-size: 28px;
          line-height: 28px;
          color: $color-333;
          font-weight: bold;
        }

        .address {
          width: 620px;
          height: 24px;
          font-size: 24px;
          line-height: 24px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: $color-999;
        }
      }

      .bottom {
        width: 100%;
        height: 80px;
        .bottom-content {
          width: 100%;
          border-top: 1px solid rgba(204, 204, 204, 0.5);
          justify-content: space-between;
          align-items: center;
          color: $color-666;
          font-size: 24px;
        }

        padding: 0 32px;

        .left {
          align-items: center;
          font-size: 24px;

          .select {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid #999999;
            margin-right: 16px;
            align-items: center;
            justify-content: space-around;

            &.active {
              border: 1px solid #467de8;
            }

            .icon-select {
              width: 12px;
              height: 12px;
              background: #467de8;
              border-radius: 50%;
            }
          }
        }

        .right {
          .item {
            align-items: center;
            margin-left: 48px;

            .icon-img {
              width: 24px;
              height: 24px;
              margin-right: 16px;
            }
          }
        }
      }
    }

    .add {
      width: 439px;
      height: 88px;

      background: linear-gradient(142deg, #7bb4f5 0%, #467de8 100%);
      box-shadow: 0px 4px 8px 0px rgba(70, 125, 232, 0.2);
      border-radius: 44px;

      align-items: center;
      justify-content: space-around;
      font-size: 32px;
      position: fixed;
      left: 156px;
      bottom: 64px;
      color: $white;
    }
  }
  .tips {
    width: 100%;
    padding: 16px 32px;
    box-shadow: 0px 4px 8px 0px rgba(68, 96, 225, 0.1);
    background-color: #fff;
    font-size: 24px;
    color: #666666;
    line-height: 36px;
  }
  .empty {
    width: 604px;
    height: auto;

    align-items: center;
    flex-direction: column;
    font-size: 28px;
    color: $color-999;
    margin: 0 auto;
    margin-top: 218px;
    .img {
      width: 604px;
      height: 280px;
      background: url("#{$ossHost}network_empty.png") no-repeat;
      background-size: 100% 100%;
      margin-bottom: 32px;
    }
  }
  .address-item {
    width: 686px;
    height: 231px;
    background: $white;
    box-shadow: 0px 5px 22px 0px rgba(231, 231, 231, 0.5);
    border-radius: 12px;
    margin: 0 auto;
    margin-top: 32px;
    .top {
      width: 100%;
      height: 150px;
      padding: 32px;

      flex-direction: column;
      justify-content: space-between;
      .info {
        align-items: center;
        justify-content: space-between;
        font-size: 28px;
        line-height: 28px;
        color: $color-333;
        font-weight: bold;
      }
      .address {
        width: 620px;
        height: 24px;
        font-size: 24px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $color-999;
      }
    }
    .bottom {
      width: 100%;
      height: 80px;
      .bottom-content {
        width: 100%;
        border-top: 1px solid rgba(204, 204, 204, 0.5);
        justify-content: space-between;
        align-items: center;
        color: $color-666;
        font-size: 24px;
      }

      padding: 0 32px;
      .left {
        align-items: center;
        font-size: 24px;
        .select {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 1px solid #999999;
          margin-right: 16px;
          align-items: center;
          justify-content: space-around;
          &.active {
            border: 1px solid #febd44;
          }
          .icon-select {
            width: 12px;
            height: 12px;
            background: #febd44;
            border-radius: 50%;
          }
        }
      }
      .right {
        .item {
          align-items: center;
          margin-left: 48px;
          .icon-img {
            width: 24px;
            height: 24px;
            margin-right: 16px;
          }
        }
      }
    }
  }
  .add {
    width: 439px;
    height: 88px;
    background: linear-gradient(102deg, #f87a56 0%, #ff5d50 43%, #ff5d50 100%);
    box-shadow: 0px 4px 12px 0px rgba(241, 83, 83, 0.5), inset -8px 10px 14px 0px rgba(255, 255, 255, 0.21);
    border-radius: 44px;

    align-items: center;
    justify-content: space-around;
    font-size: 32px;
    position: fixed;
    left: 156px;
    bottom: 64px;
    color: $white;
  }
}
