

$green: #1AAD19;

// $border: #E6E7E9;
$text-16: #161616;
$text-error: #F66160;
$border-man: #4B9BF9;
$main-color: #0086FF;
$text-grey: #808285;
$text-disable: #7F8285;
$text-yello: #FFBD02;
$bg-disable: #D8D8D8;
$color-D6: #D6D6D6;
// $disable: #CBCBCB;

//2.0版本的
$black: #000000;
$white: #ffffff;
$color-333: #333333;
$color-666: #666666;
$color-999: #999999;
$color-main-red: #E94C40;
$color-main-yellow: #FE9A51;
$page-bg: #FBFBFB;
$btn-disable: #CCCCCC;
$disable: #CCCCCC;
$border: rgba(204,204,204,0.5);
$ossHost: 'https://user-center-images-1301127519.cos.ap-shanghai.myqcloud.com/';


