.page-register {
  width: 100%;
  height: 100%;
  background: $page-bg;
  flex-direction: column;
  .tips {
    font-size: 24px;
    color: #febd44;
    text-align: center;
    margin: 20px auto 48px;
  }
  .m-t-32 {
    margin-top: 32px;
  }
  .m-t-16 {
    margin-top: 16px;
  }
  .register-item {
    width: 750px;
    height: 104px;
    background: $white;
    padding: 0 32px;
    border-bottom: 1px solid $border;
    box-sizing: border-box;

    &.no-border {
      border: none;
    }
    .register-item-content {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .left {
        align-items: center;
        color: $text-16;
        flex-direction: row;
        font-size: 28px;
        height: 100%;
        .label {
          width: 115px;
          margin-right: 80px;
        }
        .input {
          width: 400px;
          // height: 100%;
          font-weight: normal;
          &.password {
            font-size: 24px;
          }
          &.code {
            width: 240px;
          }
        }
      }
      .right {
        color: $text-error;
        font-size: 20px;
        align-items: center;
        .send-message {
          width: 156px;
          height: 46px;
          color: $color-main-yellow;
          border-radius: 24px;
          font-size: 24px;
          text-align: center;
          line-height: 46px;
          background: $white;
          border: 1px solid $color-main-yellow;
          margin-left: 12px;
          &.disable {
            color: $btn-disable;
            border: 1px solid $btn-disable;
          }
        }
      }
    }
  }
  .agreement {
    flex-direction: row;
    // align-items: center;
    font-size: 24px;
    line-height: 36px;
    color: $color-999;
    margin-top: 20px;
    padding-right: 32px;
    box-sizing: border-box;
    .proto-text {
      flex: 1;
    }
    .proto {
      color: $color-main-yellow;
    }
    .dot-area {
      width: 72px;
      padding-top: 7px;
    }
    .dot {
      width: 24px;
      height: 24px;
      border: 1px solid $color-main-yellow;
      border-radius: 50%;
      margin: 0 auto;
      position: relative;
      &.active {
        border: 1px solid $color-main-yellow;
        background: $color-main-yellow;
      }
      .select-icon {
        position: absolute;
        left: 4px;
        top: 6px;
        width: 16px;
        height: 12px;
        z-index: 100;
        overflow: visible;
        line-height: normal;
      }
    }
  }
  .warn {
    color: $text-error;
    font-size: 20px;
    margin: 16px auto;
    height: 28px;
  }
  .jump {
    margin-top: 32px;
    text-align: center;
    font-size: 24px;
    color: $color-main-yellow;
  }
  .register {
    width: 440px;
    height: 88px;
    text-align: center;
    line-height: 88px;
    font-size: 30px;
    background: linear-gradient(102deg, #f87a56 0%, #ff5d50 43%, #ff5d50 100%);
    box-shadow: 0px 4px 12px 0px rgba(241, 83, 83, 0.5), inset -8px 10px 14px 0px rgba(255, 255, 255, 0.21);
    color: $white;
    font-weight: bold;
    border-radius: 44px;
    margin: 0 auto;
    &.disable {
      background: linear-gradient(180deg, #e9e5e5 0%, #cccccc 100%);
      box-shadow: 0px 6px 20px 0px rgba(204, 204, 204, 0.2);
    }
  }
  .close {
    display: block;
    width: 28px;
    height: 28px;
    margin-right: 16px;
  }
  .proto-list {
    width: 100%;
    position: fixed;
    padding: 0 68px;
    text-align: center;
    left: 0;
    bottom: 68px;
    color: #febd44;
    font-size: 24px;
  }
}
