@import '@styles/theme.scss';
.page-notify{
    width: 100%;
    height: 100%;
    flex-direction: column;
    .content{
        width: 100%;
        flex: 1;
        overflow: scroll;
        .img{
            width: 750px;
        }
    }
    .bottom{
        width: 100%;
        height: 88px;
        padding: 0 32px;
        justify-content: space-between;
        margin-bottom: 64px;
        .bottom-item{
            width: 312px;
            height: 88px;
            border-radius: 44px;
            border: 1px solid #FE9A51;
            align-items: center;
            justify-content: space-around;
            font-size: 32px;
            font-weight: bold;
            color: #FE9A51;
            &.active{
                background: #FE9A51;
                color: #fff;
            }
        }
        
    }
}