.component-modal {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.5);
  width: 100%;
  height: 100%;
  z-index: 100;
  .modal-content {
    width: 750px;
    height: auto;
    background: #ffffff;

    border-radius: 24px 24px 0px 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    padding: 32px;
    .info {
      position: relative;
      .close {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 32px;
        height: 32px;
      }
      .img {
        width: 160px;
        height: 160px;
        background: #ffffff;
        border: 1px solid rgba(204, 204, 204, 0.5);
        margin-right: 32px;
      }
      .name {
        font-weight: bold;
        font-size: 28px;
        line-height: 28px;
        color: $color-333;
      }
      .no {
        font-size: 24px;
        line-height: 24px;
        color: $color-999;
        margin: 16px 0 32px;
      }
      .spec {
        font-size: 24px;
        line-height: 24px;
        color: #467de8;
      }
    }
    .content {
      max-height: 800px;
      overflow: scroll;
    }
    .spec-list {
      margin: 32px 0;
      flex-wrap: wrap;
      .spec-item {
        width: 234px;
        height: 56px;
        border: 1px solid #999999;
        border-radius: 30px;
        color: $color-666;
        align-items: center;
        justify-content: space-around;
        margin-top: 32px;
        font-size: 24px;
        margin-right: 32px;
        color: #999;
        background: #fff;
        &.select {
          color: #467de8;
          background: rgba(70, 125, 232, 0.1);
          border: 1px solid #467de8;
        }
      }
    }
    .number {
      height: 76px;
      font-size: 28px;
      color: $color-333;
      align-items: center;
      .all {
        color: $color-999;
        font-size: 28px;
      }
    }
    .confirm {
      width: 440px;
      height: 88px;
      align-items: center;
      justify-content: space-around;

      background: linear-gradient(142deg, #7bb4f5 0%, #467de8 100%);
      box-shadow: 0px 4px 8px 0px rgba(70, 125, 232, 0.2);
      border-radius: 44px;
      font-size: 32px;
      color: $white;
      margin-top: 32px;
      margin-bottom: 64px;
      opacity: 1;
      &.disable {
        background: #ccc;
      }
    }
  }
  .drug-modal-btn {
    justify-content: center;
    align-items: center;
  }
}
