.exchange-item-new {
    width: 686px;
    // height: 280px;
    background: #ffffff;
    box-shadow: 0px 6px 20px 0px rgba(68, 96, 225, 0.2);
    border-radius: 12px;
    padding: 32px;
    padding-bottom: 20px;
    margin: 32px auto;
    margin-top: 0;
    .top-center {
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(204, 204, 204, 0.5);
        .exchange-item-title {
            font-size: 32px;
            color: #333;
            line-height: 1;
            font-weight: bold;
            align-items: center;
            justify-content: space-between;
            .right {
                width: 112px;
                height: 32px;
                background: url("#{$ossHost}service_status_0.png") no-repeat;
                background-size: 112px 32px;
                &.staus-1 {
                    background: url("#{$ossHost}service_status_1.png") no-repeat;
                    background-size: 112px 32px;
                }
                &.staus-2 {
                    background: url("#{$ossHost}service_status_2.png") no-repeat;
                    background-size: 112px 32px;
                }
            }
        }
        .address {
            font-size: 28px;
            color: $color-666;
            line-height: 1;
            margin: 24px 0 16px;
        }
        .time {
            font-size: 28px;
            color: $color-666;
            line-height: 40px;
        }
    }
    .bottom-center {
        align-items: center;
        padding-top: 20px;
        font-size: 24px;
        color: $color-999;
        justify-content: flex-end;

        .btn {
            width: 144px;
            height: 48px;
            border-radius: 36px;
            border: 1px solid #fd665a;
            align-items: center;
            justify-content: space-around;
            font-size: 24px;
            line-height: 1;
            color: #ff775d;
            margin-left: 24px;
            position: relative;
            &.btn-in {
                color: $white;
                background: linear-gradient(90deg, #ef7064 0%, #db4d40 100%);
                border: none;
            }
            .integral {
                width: 68px;
                height: 40px;
                background: url("#{$ossHost}integral.png") no-repeat;
                background-size: 100% 100%;
                position: absolute;
                left: -48px;
                top: -20px;
            }
        }
    }
}
