.claims-examine {
  min-height: 100%;
  background: #f6f6f6;
  padding: 48px 32px;
  &-img {
    width: 600px;
    height: 420px;
    display: block;
    margin: 0 auto;
    image {
      width: 600px;
    }
  }
  &-box {
    background: #ffffff;
    box-shadow: 0px 6px 20px 0px rgba(68, 96, 225, 0.2);
    border-radius: 12px;
    margin: 0 auto;
    padding: 56px 32px;
  }
  &-333 {
    margin-top: 90px;
    font-size: 32px;
    color: #333333;
    text-align: center;
  }

  &-reset {
    position: absolute;
    bottom: 64px;
    left: 32px;
    right: 32px;
    height: 82px;
    background: linear-gradient(90deg, #ef7064 0%, #db4d40 100%);
    box-shadow: 0px 6px 20px 0px rgba(255, 119, 93, 0.2);
    border-radius: 40px;
    line-height: 82px;
    text-align: center;
    color: #fff;
    font-size: 28px;
  }
}
