.claims-examine {
  min-height: 100%;
  background: #f6f6f6;
  padding-top: 32px;
  &-img {
    width: 140px;
    height: 140px;
    display: block;
    margin: 0 auto 64px;
  }
  &-box {
    width: 686px;
    background: #ffffff;
    box-shadow: 0px 6px 20px 0px rgba(68, 96, 225, 0.2);
    border-radius: 12px;
    margin: 0 auto;
    padding: 64px 32px;
  }
  &-333 {
    font-size: 32px;
    color: #333333;
    text-align: center;
  }
  &-999 {
    font-size: 24px;
    color: #999999;
    text-align: center;
    margin-top: 24px;
  }
  &-fail {
    font-size: 32px;
    color: #333333;
    font-weight: 600;
    padding: 32px 0;
  }
  &-dot {
    width: 16px;
    height: 16px;
    background: #febd44;
    border-radius: 50%;
    margin: 6px 16px 0 0;
  }
  &-text {
    width: 590px;
    line-height: 36px;
  }
  &-reason {
    font-size: 28px;
    color: #333333;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 28px;
  }
  &-container {
    width: 686px;
    background: #ffffff;
    box-shadow: 0px 6px 20px 0px rgba(68, 96, 225, 0.2);
    border-radius: 12px;
    margin: 32px auto 0;
    padding: 0 32px 32px;
  }
  &-reset {
    width: 440px;
    height: 88px;
    background: linear-gradient(102deg, #f87a56 0%, #ff5d50 43%, #ff5d50 100%);
    box-shadow: 0px 4px 12px 0px rgba(241, 83, 83, 0.5), inset -8px 10px 14px 0px rgba(255, 255, 255, 0.21);
    border-radius: 44px;
    margin: 48px auto 0;
    line-height: 88px;
    text-align: center;
    color: #fff;
    font-size: 36px;
  }
}
