.page-physical-supplement {
    width: 100%;
    height: 100%;
    background: $white;
    flex-direction: column;
    .top {
        width: 750px;
        height: 64px;
        background: #febd44;
        font-size: 24px;
        color: $white;
        align-items: center;
        justify-content: space-around;
    }
    .center {
        flex: 1;
        padding-left: 32px;
        overflow: scroll;
        .center-item {
            margin-top: 48px;
            .item-name {
                font-size: 32px;
                color: $color-333;
                font-weight: bold;
                align-items: center;
                .dot {
                    width: 16px;
                    height: 16px;
                    background: #ff775d;
                    margin-right: 24px;
                    border-radius: 50%;
                }
            }
            .input {
                width: calc(100% - 32px);
                height: 64px;
                background: #ffffff;
                border-radius: 32px;
                border: 1px solid #cccccc;
                padding-left: 48px;
                box-sizing: border-box;
                font-size: 28px;
                color: $color-333;
                text-align: left;
                margin: 20px 0 0 0;
            }
        }
    }
    .bottom {
        width: 750px;
        height: 144px;
        background: #ffffff;
        box-shadow: 0px -4px 12px 0px rgba(204, 204, 204, 0.15);
        padding: 32px 104px;
        align-items: center;
        justify-content: center;
        .btn-item {
            width: 440px;
            height: 80px;

            border-radius: 40px;
            align-items: center;
            justify-content: space-around;
            font-size: 28px;
            &.open {
                background: linear-gradient(90deg, #ef7064 0%, #db4d40 100%);
                box-shadow: 0px 6px 20px 0px rgba(255, 119, 93, 0.2);
                color: $white;
            }
            &.disable {
                background: linear-gradient(180deg, #e9e5e5 0%, #cccccc 100%);
                box-shadow: 0px 6px 20px 0px rgba(204, 204, 204, 0.2);
                box-shadow: none;
            }
            &.skip {
                background: $white;
                color: #ff775d;
                border: 2px solid #ff775d;
            }
        }
    }
}
