.page-phone-result {
  width: 100%;
  height: 100%;
  background: #fff;
  align-items: center;
  flex-direction: column;
  .top {
    width: 750px;
    height: 96px;
    background: rgba(254, 189, 68, 0.1);
    box-shadow: 0px 4px 8px 0px rgba(254, 189, 68, 0.2);
    color: #febd44;
    font-size: 24px;
    line-height: 32px;
    padding: 16px 32px;
  }
  .bg {
    width: 450px;
    height: 386px;
    background: url("#{$ossHost}phoneIng.png") no-repeat;
    background-size: 100% 100%;
    margin: 154px 0 64px;
  }
  .tips {
    font-size: 32px;
    color: $color-333;
    line-height: 1;
    margin-bottom: 24px;
  }
  .tips-text {
    font-size: 24px;
    color: $color-999;
    line-height: 1;
  }
}
.page-phone-detail {
  width: 100%;
  height: 100%;
  background: #fbfbfb;
  align-items: center;
  flex-direction: column;
  .header {
    width: 686px;
    height: 96px;
    background: linear-gradient(90deg, #ef7064 0%, #db4d40 100%);
    border-radius: 0px 0px 12px 12px;
    color: $white;
    font-size: 32px;
    align-items: center;
    padding-left: 208px;
    .center {
      align-items: center;
    }
    .success-icon {
      width: 32px;
      height: 32px;
      margin-right: 16px;
    }
  }
  .info {
    width: 686px;
    height: 224px;
    background: #ffffff;
    box-shadow: 0px 6px 20px 0px rgba(217, 217, 217, 0.4);
    border-radius: 12px;
    padding: 32px;
    margin-top: 32px;
    .top {
      font-size: 24px;
      color: $color-333;
      line-height: 24px;
    }
    .center {
      font-size: 32px;
      color: $color-333;
      line-height: 32px;
      margin: 32px 0;
      font-weight: bold;
    }
    .bottom {
      .item {
        margin-right: 32px;
        font-size: 24px;
        line-height: 24px;
        color: #ff775d;
        background: rgba(255, 119, 93, 0.1);
        border-radius: 22px;
        padding: 8px 24px;
      }
    }
  }
  .success {
    width: 686px;
    height: 480px;
    box-shadow: 0px 6px 20px 0px rgba(217, 217, 217, 0.4);
    border-radius: 12px;
    align-items: center;
    flex-direction: column;
    background: #fff;
    padding: 24px 0 32px;
    font-size: 28px;
    color: $color-333;
    margin-top: 32px;
    .success-bg {
      width: 340px;
      height: 124px;
      background: url("#{$ossHost}images/top_bg.png") no-repeat center center;
      background-size: 340px 124px;
      margin: 88px 0 56px;
      .conment-img {
        width: 128px;
        height: 128px;
        background-size: 128px 128px;
        margin: 0 auto;
        &.i-1 {
          width: 152px;
          background-image: url("#{$ossHost}top.png");
          background-size: 158px 128px;
        }
        &.i-2 {
          background-image: url("#{$ossHost}center_new.png");
        }
        &.i-3 {
          background-image: url("#{$ossHost}bottom.png");
        }
      }
    }
    .success-text {
      font-weight: bold;
    }
  }
  .evaluate-content {
    width: 686px;
    background: #ffffff;
    box-shadow: 0px 6px 20px 0px rgba(217, 217, 217, 0.4);
    border-radius: 12px;
    margin-top: 32px;
    align-items: center;
    flex-direction: column;
    .title {
      font-size: 28px;
      line-height: 28px;
      color: $color-333;
      margin: 24px 0 88px;
    }
    .img-list {
      // width: 100%;
      // padding-right: 88px;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin-bottom: 64px;
      .img-item {
        width: 128px;
        flex-direction: column;
        font-size: 28px;
        color: $color-999;
        margin-left: 80px;
        .root-name {
          width: 128px;
          align-items: center;
          font-size: 28px;
          line-height: 1;
          justify-content: space-around;
          margin-top: 32px;
        }
        &.item-0 {
          width: 158px;
        }
        &.item-2 {
          margin: 0;
        }
        &.active {
          .root-name {
            font-weight: bold;
            color: $color-333;
          }
        }
        .img {
          width: 100%;
          height: 128px;
          background-size: 100% 100%;
          &.i-0 {
            width: 152px;
            background-image: url("#{$ossHost}top.png");
            background-size: 158px 128px;
          }
          &.i-1 {
            background-image: url("#{$ossHost}center_new.png");
          }
          &.i-2 {
            background-image: url("#{$ossHost}bottom.png");
          }
        }
      }
    }
    .sure {
      width: 100%;
      height: 88px;
      align-items: center;
      justify-content: space-around;
      font-size: 32px;
      color: $color-999;
      border-top: 1px solid rgba(204, 204, 204, 0.5);
      &.active {
        color: #ff775d;
      }
    }
  }
}
