.family-record {
  .service-more {
    width: 20px;
    height: 20px;
    margin-left: 8px;
  }
  .pl {
    padding: 0 32px;
  }
  .mr {
    margin-right: 9px;
  }
  .ml-7 {
    margin-left: 7px;
  }
  .ml-5 {
    margin-left: 2px;
  }
  .record-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    height: 176px;
    padding: 16px 32px 8px;
    margin-bottom: 16px;
    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .record-item-top-left-title {
        font-size: 28px;
        font-weight: 400;
        color: #333333;
        line-height: 28px;
      }
      .record-item-top-right-title {
        font-size: 24px;
        font-weight: 400;
        color: #999999;
        line-height: 24px;
      }
      .health-height {
        width: 76px;
        height: 32px;
        margin-left: 8px;
      }
    }

    .recommend {
      position: absolute;
      width: 78px;
      height: 78px;
      bottom: 0;
      right: 0;
      background: url("#{$ossHost}images/recommend.png") no-repeat;
      background-size: 100% 100%;
    }
    .flex-sb {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-center {
      // margin-top: 32px;
      display: flex;
      align-items: baseline;

      &-text {
        font-size: 32px;
        font-weight: 600;
        color: #333333;
      }
      &-sub-text {
        font-size: 24px;
        font-weight: 400;
        color: #999999;
      }

      .health-upward,
      .health-down {
        width: 16px;
        height: 20px;
        margin-left: 4px;
      }
      .ml-12 {
        margin-left: 12px;
        width: 80px;
        height: 44px;
        background: linear-gradient(102deg, #f87a56 0%, #ff5d50 43%, #ff5d50 100%);
        box-shadow: 0px 2px 6px 0px rgba(241, 83, 83, 0.5), inset -8px 10px 14px 0px rgba(255, 255, 255, 0.21);
        border-radius: 26px;
        font-size: 20px;
        font-weight: 400;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &-foot {
      font-size: 20px;
      font-weight: 500;
      color: #9db7dd;

      &.active {
        color: #d09c9c;
      }
      &.no-data {
        color: #999999;
      }
    }
  }

  .base {
    background: url("#{$ossHost}health-base-data.png") no-repeat;
    background-size: 100% 100%;
    &.no-data {
      background: url("#{$ossHost}health-base-nodata.png") no-repeat;
      background-size: 100% 100%;
    }
    &.active {
      background: url("#{$ossHost}health-base-data-active.png") no-repeat;
      background-size: 100% 100%;
    }
  }

  .blood-sugar {
    background: url("#{$ossHost}health-blood-sugar.png") no-repeat;
    background-size: 100% 100%;
    &.no-data {
      background: url("#{$ossHost}health-blood-sugar-nodata.png") no-repeat;
      background-size: 100% 100%;
    }
    &.active {
      background: url("#{$ossHost}health-blood-sugar-active.png") no-repeat;
      background-size: 100% 100%;
    }
  }
  .blood-pressure {
    background: url("#{$ossHost}health-blood-pressure.png") no-repeat;
    background-size: 100% 100%;
    &.no-data {
      background: url("#{$ossHost}health-blood-pressure-nodata.png") no-repeat;
      background-size: 100% 100%;
    }
    &.active {
      background: url("#{$ossHost}health-blood-pressure-active.png") no-repeat;
      background-size: 100% 100%;
    }
  }
  .heart-rate {
    &.no-data {
      background: url("#{$ossHost}health-heart-rate-nodata.png") no-repeat;
      background-size: 100% 100%;
    }
    background: url("#{$ossHost}health-heart-rate.png") no-repeat;
    background-size: 100% 100%;

    &.active {
      background: url("#{$ossHost}health-heart-rate-active.png") no-repeat;
      background-size: 100% 100%;
    }
  }
  .period {
    background: url("#{$ossHost}health-period.png") no-repeat;
    background-size: 100% 100%;
    &.no-data {
      background: url("#{$ossHost}health-period-nodata.png") no-repeat;
      background-size: 100% 100%;
    }
    &.active {
      background: url("#{$ossHost}health-period-active.png") no-repeat;
      background-size: 100% 100%;
    }
  }
  .motion {
    background: url("#{$ossHost}health-motion.png") no-repeat;
    background-size: 100% 100%;

    &.no-data {
      background: url("#{$ossHost}health-motion-active.png") no-repeat;
      background-size: 100% 100%;
    }
  }
  .sleep {
    background: url("#{$ossHost}health-sleep.png") no-repeat;
    background-size: 100% 100%;

    &.active {
      background: url("#{$ossHost}health-sleep-active.png") no-repeat;
      background-size: 100% 100%;
    }
  }
}
